@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Innocent">
    <title></title>

    <!-- Begin Global Level Styles -->
    <link href="~/frontend/asset/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- End Global Level Styles -->
    <!-- Page Level Style-->
    <link href="~/frontend/asset/particlejs/css/style.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <!--Begin container div -->
    <div class="container-fluid align-items-center cs-login">
        <div class="row">
            <div id="login-leftbox" class="bg-primary login-leftbox text-center">
                <div class="contentbox contentCenter">
                    <h1 class="pt-7 text-white"></h1>
                    <p class="h3  text-white">Secure & Fast</p>
                </div>

                <div class="footerbox">
                    Copyrights ©  @DateTime.UtcNow.AddHours(3).ToString("yyyy") All rights reserved by June
                </div>
            </div> <!-- end login-leftbox-->
            <div class="login-rightbox">
                <div class="container-fluid">

                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal row justify-content-md-center mb-4">

                        <div class="login-screen col-lg-6">

                            <h1 class="text-primary mb-2">
                                Register
                            </h1>
                            <h5 class="text-muted">Have An Account.</h5>
                           
                            <div class="form-group  ">
                                <input type="text" asp-for="Input.Email" class="form-control" placeholder="Email Address">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <input type="submit" class="btn btn-primary" value="Register" />
                            </div>
                            <hr>
                            <div class="actions align-left">
                                <span class="additional-link">Have An Account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></span>
                            </div>

                        </div> <!-- end login screen -->
                    </form> <!-- end from -->
                </div> <!-- end container -->
            </div> <!-- end login-rightbox-->
        </div> <!-- end row-->
    </div>
    <!--End container div -->
    <!-- Begin Global Level Styles -->
    <script src="~/frontend/asset/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/frontend/asset/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- End Global Level Styles -->
    <!-- Begin Page Level script -->
    <script src="~/frontend/asset/particlejs/particles.js"></script>
    <script src="~/frontend/asset/particlejs/js/app.js"></script>



</body>

</html>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
